*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #150879;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.p{
    text-align: center;
}


form{
    height: 100%;
    width: 100%;
    background-color: rgba(127, 182, 231, 0.856);
    overflow-y: scroll;
    position: absolute;
    transform:translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius:none;

}

form *{
    font-family: Arial, Helvetica, sans-serif;
    color:  #0d0a24;;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h1{ 
    font-size:50px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
}

label{
display:inline-block;
margin-top: 30px;
font-size: 20px;
font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 90%;
    background-color:  rgba(174, 213, 247, 0.853);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 500;
    
}
::placeholder{
    color: rgb(123, 173, 216);
}
button{
    margin-top: 50px;
    width: 90%;
    background-color: rgb(123, 173, 216);
    color: #0d0a24;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    border: 0px;
    width: 20px;
    height: 1.2em;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

input[type="checkbox"] {
   width: 20px;
   height: 20px;
   border: 0px;
   width: 20px;
   height: 1.2em;
   display: inline-block;
   padding: 0px;
   margin: 0px;

}

span, a{
    color: blue;
}
